In [94]:
%reset -f
import pandas as pd 
data=pd.read_csv('heart_disease_uci.csv')
data.drop(['id','oldpeak','dataset','ca'],axis=1,inplace=True)
data.dropna(inplace=True)
data.drop_duplicates(inplace=True)

In [95]:
datachol=data[data['chol']<370]
data=datachol[datachol['chol']>120]
del datachol
data=data[data['trestbps']<170]

In [96]:
def gender(x):
    if x=="Male":
        return 1
    else:
        return 0
data['sex']=data['sex'].apply(lambda x:gender(x))
data['sex']

0      1
1      1
2      1
3      1
4      0
      ..
890    1
891    1
892    1
902    1
903    1
Name: sex, Length: 302, dtype: int64

In [97]:
def fbss(x):
    x=str(x)
    if x=="True":
        return 1
    elif x=="False":
        return 0
data['fbs']=data['fbs'].apply(lambda x:fbss(x))

In [98]:
def thal(x):
    if x=="normal":
        return 1
    elif x=="reversable defect":
        return 2
    else:
        return 3
data['thal']=data['thal'].apply(lambda x :thal(x))
data['thal'].value_counts()

thal
1    165
2    116
3     21
Name: count, dtype: int64

In [99]:
def exang(x):
    x=str(x)
    if x=="True":
        return 1
    elif x=="False":
        return 0
data['exang']=data['exang'].apply(lambda x :exang(x))
data['exang'].value_counts()

exang
0    197
1    105
Name: count, dtype: int64

In [100]:
def slop(x):
    if x=="flat":
        return 1
    elif x=="upsloping":
        return 2
    else:
        return 3
data['slope']=data['slope'].apply(lambda x :slop(x))

In [101]:
def cp(x):
    if x=="asymptomatic":
        return 1
    elif x=="non-anginal":
        return 2
    elif x=="typical angina":
        return 3
    else:
        return 4
data['cp']=data['cp'].apply(lambda x :cp(x))
data['cp'].isna().sum()

np.int64(0)

In [102]:
def rest(x):
    if x=="normal":
        return 1
    elif x=="lv hypertrophy":
        return 2
    else:
        return 3
data['restecg']=data['restecg'].apply(lambda x:rest(x))
data['restecg'].value_counts()

restecg
1    157
2    137
3      8
Name: count, dtype: int64

In [103]:
def nummm(x):
    if x==0:
        return 0
    else:
        return 1
data['num']=data['num'].apply(lambda x:nummm(x))
data['num'].value_counts()

num
0    162
1    140
Name: count, dtype: int64

In [104]:
data.drop_duplicates(inplace=True)
data.reset_index(inplace=True)
data.drop(['index'],axis=1,inplace=True)
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalch,exang,slope,thal,num
0,63,1,3,145.0,233.0,1,2,150.0,0,3,3,0
1,67,1,1,160.0,286.0,0,2,108.0,1,1,1,1
2,67,1,1,120.0,229.0,0,2,129.0,1,1,2,1
3,37,1,2,130.0,250.0,0,1,187.0,0,3,1,0
4,41,0,4,130.0,204.0,0,2,172.0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
297,53,1,1,124.0,243.0,0,1,122.0,1,1,2,1
298,37,1,2,118.0,240.0,0,2,165.0,0,1,1,0
299,67,1,1,140.0,219.0,0,3,122.0,1,1,2,1
300,55,1,1,120.0,226.0,0,2,127.0,1,3,2,1
301,56,1,1,130.0,203.0,1,1,98.0,0,1,2,1

In [105]:
data=data[data['age']>32]

In [106]:
data=data[data['thalch']>82]

In [107]:
X=data.drop(['num'],inplace=False,axis=1)
y=data['num']
y

0      0
1      1
2      1
3      0
4      0
      ..
297    1
298    0
299    1
300    1
301    1
Name: num, Length: 300, dtype: int64

In [108]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,classification_report
import joblib
import torch

In [109]:
import torch
import torch.nn as nn
class SimpleModel(nn.Module):
    def __init__(self):
        super(SimpleModel, self).__init__()
        self.fc = nn.Linear(10, 1)
    def forward(self, x):
        return self.fc(x)
model = SimpleModel()

In [110]:
rand=RandomForestClassifier(n_estimators=12,random_state=26)
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=42,shuffle=True)
rand.fit(x_train,y_train)
y_pred=rand.predict(x_test)
report=classification_report(y_test,y_pred)
print(report)
train_pred = rand.predict(x_train)
test_pred = rand.predict(x_test)
train=accuracy_score(y_train,train_pred)
test=accuracy_score(y_test,test_pred)
print(f" test {test}")
print(f"train {train}")
joblib.dump(rand, 'project.pkl')

              precision    recall  f1-score   support

           0       1.00      0.95      0.97        19
           1       0.92      1.00      0.96        11

    accuracy                           0.97        30
   macro avg       0.96      0.97      0.96        30
weighted avg       0.97      0.97      0.97        30

 test 0.9666666666666667
train 0.9851851851851852

['project.pkl']

In [111]:

torch.save(model.state_dict(), "Heart_classification.pth")